<div class="games-table outerpadleftright">
  <div class="header">
    <h3 class="thin inline-block">View: </h3>
    <div class="inline-block">
      <%= link_to "Current games", root_path(params.merge(time: :current)), class: games_range("current") %>
    </div>
    <div class="inline-block">
      <%= link_to "Upcoming games", root_path(params.merge(time: "upcoming")), class: games_range("upcoming") %>
    </div>
    <div class="inline-block">
        <%= link_to "Past games", root_path(params.merge(time: :past)), class: games_range("past") %>
    </div>
    <div class="inline-block">
        <%= link_to "All games", root_path(params.merge(time: :all)), class: games_range("all") %>
    </div>
  </div>
    <table class="games-table table table-bordered table-hover table-nonfluid">
      <colgroup>
        <col class="matchup" />
        <% if policy(Game.new).scorekeep? %><col class="scorekeep"/><% end %>
        <col class="view"/>
        <col class="week" />
        <col class="day" />
        <col class="time" />
      </colgroup>
      <tr>
        <th>Matchup</th>
        <% if policy(Game.new).scorekeep? %><th>Scorekeep</th><% end %>
        <th>View</th>
        <th>Week</th>
        <th>Day</th>
        <th>Time</th>
      </tr>
      <% @games.each do |game| %>
          <tr>
            <td>
              <%= link_to(game.teams.first.name, game.teams.first) %>
              <br><p>vs</p>
              <%= link_to(game.teams.second.name, game.teams.second) %></td>
            <% if policy(game).scorekeep? %>
                <td><%= link_to("Scorekeep", scorekeep_games_path(game)) if game.teams.any? %></td>
            <% end %>
            <td><%= link_to("View", game) if game.teams.any? %></td>
            <td><%= game.week + 1 %></td>
            <td><%= game.time.blank? ? "Not scheduled yet" : game.time.to_s(:day_and_month) %></td>
            <td><%= game.time.blank? ? "#{(game.time_slot + 1).ordinalize} time slot" : game.time.to_s(:time) %></td>
          </tr>
      <% end %>
    </table>
</div>