<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for :game, url: games_path do |f| %>
          <h2>Add a Game</h2>
          <p>
            <label for="home_team">Home team: </label>:
            <%= collection_select(:home_team, :team_id, Team.all, :id, :name) %>
          </p>
          <p>
            <label for="away_team">Away team: </label>:
            <%= collection_select(:away_team, :team_id, Team.all, :id, :name) %>
          </p>
          <p>
            <%= f.label :time_slot %>
            <%= f.number_field :time_slot, required: true %>
          </p>
          <p>
            <%= f.label :week %>
            <%= f.number_field :week, required: true %>
          </p>
          <div>
            <%= f.submit "Submit", data: { disable_with: "Please wait...." } %>
          </div>
      <% end %>
    </div>
  </div>
</div>