<button><%= link_to "Done scorekeeping", @game %></button>
<p>
  <strong>Home Team:</strong>
  <%= link_to @game.teams.first.name, @game.teams.second %>
</p>
<p>
  <strong>Away Team:</strong>
  <%= link_to @game.teams.second.name, @game.teams.second %>
</p>
<p>
  <strong>Week:</strong>
  <%= @game.week %>
</p>
<p>
  <strong>Time slot:</strong>
  <%= @game.time_slot %>
</p>
<% @game.teams.each do |team| %>
    <%= render partial: 'game_stats/scorekeep_table', locals: {team: team, game: @game} %>
<% end %>
