<div class="score-header">
    <p>
      <strong>Week:</strong>
      <%= @game.week + 1 %>
    </p>
    <p>
      <strong>Time slot:</strong>
      <%= @game.time_slot + 1 %>
    </p>
    <div class="btn btn-no-padding">
        <%= link_to "Done scorekeeping", games_path %>
    </div>
</div>
<div class="playing-teams">
    <% @game.team_games.order(:created_at).each do |team_game| %>
        <%= render partial: 'game_stats/scorekeep_table', locals: {team: team_game.team, team_game: team_game} %>
    <% end %>
  <div style="clear:both;"></div>
</div>

<div class="manualscore">
  <h3 class="thin">Manually Change Scores:</h3>
  <%= form_tag("/games/#{@game.id}/update_score", method: "post") do %>
      <input type="hidden" name="id" value="<%= @game.id %>">
      <input type="hidden" name="home[id]" value="<%= @game.team_games.first.id %>">
      <input type="hidden" name="away[id]" value="<%= @game.team_games.second.id %>">
      <label><%= @game.team_games.first.team.short_name %></label>
      <input type="number" id="time2" name="home[goals]" value="<%= @game.team_games.first.goals %>">
      <label><%= @game.team_games.second.team.short_name %></label>
      <input type="number" id="time2" name="away[goals]" value="<%= @game.team_games.second.goals %>">
      <input type="submit" class="btn" value="Update" />
<% end %>
</div>