<% if @game.has_teams? %>
    <button><%= link_to "Scorekeep (Edit Game Stats)", scorekeep_games_path(@game) %></button>
    <p>
      <strong>Week:</strong>
      <%= @game.week %>
    </p>
    <p>
      <strong>Time slot:</strong>
      <%= @game.time_slot %>
    </p>
    <% @game.teams.each do |team| %>
        <%= render partial: 'game_stats/table', locals: {team: team, game: @game} %>
    <% end %>
<% else %>
    <strong>Week:</strong>
    <%= @game.week %>
    </p>
    <p>
      <strong>Time slot:</strong>
      <%= @game.time_slot %>
    </p>
    <h3>Assign Teams:</h3>
    <% if @game.teams.any? %>
        <p>
          <strong>Home Team:</strong>
          <%= link_to @game.teams.first.name, @game.teams.second %>
        </p>
        <%= form_for [@game, @game.team_games.build] do |f| %>
            <%= f.hidden_field :game_id %>
            <label>Add team:</label>
            <%= f.collection_select(:team_id, Team.real, :id, :name) %>
            <div>
              <%= f.submit "Submit", data: { disable_with: "Please wait...." } %>
            </div>
        <% end %>
    <% else %>
        <%= form_for [@game, @game.team_games.build] do |f| %>
            <%= f.hidden_field :game_id %>
            <label>Add first team:</label>
            <%= f.collection_select(:team_id, Team.real, :id, :name) %>
            <div>
              <%= f.submit "Submit", data: { disable_with: "Please wait...." } %>
            </div>
        <% end %>
    <% end %>
<% end %>
