<p>
  <strong>Home Team:</strong>
  <%= link_to @game.teams.first.name, @game.teams.second %>
</p>
<p>
  <strong>Away Team:</strong>
  <%= link_to @game.teams.second.name, @game.teams.second %>
</p>
<p>
  <strong>Week:</strong>
  <%= @game.week %>
</p>
<p>
  <strong>Time slot:</strong>
  <%= @game.time_slot %>
</p>
<% @game.team_games.each do |team_game| %>
    <h3>Team 1 Stats</h3>
    <table class="table table-bordered table-hover" id="<%= team_game.id %>">
      <tr>
        <th>Player</th>
        <th>Points</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Ds</th>
        <th>Turns</th>
      </tr>
      <% team_game.game_stats.includes(:player).each do |stat| %>
          <tr id="<%= stat.id %>">
            <%= render partial: 'game_stats/row', locals: {row: stat} %>
          </tr>
      <% end %>
    </table>
<% end %>