<div class="stats-table">
  <h3 class="thin"><%= team.name %> (<%= team.color %>): <span class="<%= team.color %>">0</span></h3>
    <table class="table table-bordered table-hover table-nonfluid" id="<%= team.color %>">
      <tr>
        <th>Player</th>
        <th>Fantasy Points</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Ds</th>
        <th>Turns</th>
        <th>Swag</th>
      </tr>
      <% game.game_stats.where(player: team.players).includes(:player).each do |stat| %>
          <tr id="<%= stat.id %>">
            <%= render partial: 'game_stats/row', locals: {row: stat} %>
          </tr>
      <% end %>
    </table>
</div>

<script>
    $(function() {
        sum = 0;
        $("table#<%= team.color %> tr > td:nth-child(3)").each(function() {
            sum += parseInt($(this).text());
        });
        $('span.<%= team.color %>').html(sum);
    });
</script>