<div class="outerpadleftright">
    <table class="table table-bordered table-hover table-nonfluid tablesorter {sortlist: [[1,0],[4,0]]}">
      <thead>
          <tr>
            <th>Name</th>
            <th>Epo?</th>
            <th>Team</th>
            <% if @game %><th>Week Leaders</th><% end %>
            <th>Total Fantasy Points</th>
          </tr>
      </thead>
      <tbody>
      <% @players.each do |player| %>
          <tr>
            <td><%= link_to(player.name, player_path(player)) %></td>
            <td><%= player.gender_text %></td>
            <td>
              <%= player.team.blank? ? content_tag(:p, "Unassigned") : link_to(player.team.short_name, team_path(player.team)) %>
            </td>
            <% if @game %><td><%= player.game_stats.find_by(week: @week).points %></td><% end %>
            <td><%= player.points %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>

<script>
    $("table").tablesorter({
        sortList: [[3, 1]]
    });
</script>