<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= navbar_active("welcome")%>"><%= link_to "Home", root_path %></li>
        <li class="dropdown <%= navbar_active("players")%>">
          <a href="#" class="active dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Players <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "View All", players_path %></li>
          </ul>
        </li>
        <li class="dropdown <%= navbar_active("teams")%>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Teams <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "View All", teams_path %></li>
          </ul>
        </li>
        <li class="dropdown <%= navbar_active("games")%>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Games <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "View All", games_path %></li>
            <li><%= link_to "This weeks games", current_games_path %></li>
            <li><%= link_to "Past Games", past_games_path %></li>
            <li><%= link_to "Upcoming Games", upcoming_games_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
            <% if current_user.is_commissioner? || current_user.is_admin? %>
                <li class="dropdown <%= navbar_active("schedule")%>">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Commissioner <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Add new player", new_player_path %></li>
                    <li><%= link_to "Add new team", new_team_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "View added days and times", schedules_path %></li>
                    <li><%= link_to "Add days and times for games", new_schedule_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Auto schedule all games", schedule_games_path %></li>
                  </ul>
                </li>
            <% end %>
            <% if current_user.is_admin? %>
                <li class="dropdown <%= navbar_active("admin")%>">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Admin <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Add new game", new_game_path %></li>
                    <li><%= link_to "Delete all games", destroy_games_path %></li>
                  </ul>
                </li>
            <% end %>
            <li class="dropdown <%= navbar_active("account")%>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Account <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= edit_user_registration_path %>" role="button">Edit Account</a>
                </li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li class="dropdown <%= navbar_active("account")%>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Account <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li <%= navbar_active("signin")%>>
                  <a href="<%= new_user_session_path %>" role="button">Sign in</a>
                </li>
                <li>
                  <a href="<%= new_user_registration_path %>" role="button">Sign up</a>
                </li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>