<!DOCTYPE html>
<html>
<head>
  <title>Fittfu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
    <% if user_signed_in? %>
        <div class="header">
            <%= render 'layouts/navbar' %>
        </div>
    <% end %>

    <%= render 'layouts/flash_messages' %>
    <%= yield %>

    <%= render 'layouts/footer' %>

</body>
</html>
